<p id="notice"><%= notice %></p>

<div class="container">
  <p>
    <strong class="formLabel">Name:</strong>
    <%= @service.name %>
  </p>
  
  <p>
    <strong class="formLabel">Description:</strong>
    <%= @service.description %>
  </p>
  
  <p>
    <strong class="formLabel">Duration:</strong>
    <%= @service.duration %>
  </p>
  
  <p>
    <strong class="formLabel">Typeint:</strong>
    <%= @service.typeInt %>
  </p>
</div>

<%= link_to 'Edit', edit_service_path(@service), {:class => "btn"}  %> |
<%= link_to 'Back', services_path, {:class => "btn"}  %>
