<nav id="navbar-menu" class="navbar navbar-default navbar-static-top navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <!--i class="fa fa-bars"></i-->
      </button>
      <%= link_to image_tag("logo-nav.png", alt: "logo UNTrueque", id:"logo-unt-nav"), :user_home, class:"navbar-brand" %>
      <form class="navbar-form navbar-left" role="search" action="/static_pages/principal">
        <%= search_form_for @search, url: user_home_url do |f| %>
        <div class="form-group">
          <%= f.text_field :name_cont, class: "search_form_for form-control", placeholder:  "Buscar" %>
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
            <span class="caret"></span>
          </button>
          <div class="dropdown-menu dropdown-menu-right" role="menu">
            <div class="form-group">
              <%= f.label "Categoria" %>
              <%= select_tag(:category_eq, options_for_select( @categories.collect{ |c| [c.name, c.id]})) %>
            </div>
            <div class="form-group">
              <%= f.label "Cantidad" %>
              <%= f.text_field :quantity_eq, class:"search_form_for form-control"%>
            </div>
            <div class="form-group">
              <%= f.label "Estado" %>
              <%= select_tag(:state_eq, options_for_select([["Nuevo", "true"], ["Usado", "false"]])) %>
            </div>
          </div>
          <%= f.submit url: "static_pages/principal", class:"btn btn-inverse"%>
        </div>
        <% end %>
      </form>
    </div>

    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class><%= link_to  glyph(:"glyphicon glyphicon-home") + "  Inicio", :user_home  %></li>
        <li><%= link_to  glyph(:"glyphicon glyphicon-shopping-cart") + "  Vender", new_product_path  %></li>
        <li><%= link_to  glyph(:"glyphicon glyphicon-envelope") + "  Contáctanos", contact_path  %></li>
        <% if !current_user.nil? %>
        <li><%= link_to  glyph(:"glyphicon glyphicon-user") + "  Perfil", :user_information %></li>
        <% end %>
        <li class=""><%= link_to  glyph(:"glyphicon glyphicon-log-out") + "  Logout", destroy_user_session_path, method: :delete %></li>
      </ul>

    </div>
  </div>
</nav>
