<div class="container margin-top">
  <% if @products.blank? %>
    <p> No hay productos</p>
  <% else %>
  <%= line_chart @products.group_by_day(:created_at).count %>
    <div class="row">
      <div class="offset-md-2 col-md-8 center">
        <h1 class="myh1">Products & services</h1>
      </div>
    </div>
    <div class="row">
      <% @products.each do |d| %>
        <div class="col-xs-4">
          <div class="thumbnail">
            <div class="opacity">
              <a href=<%= "#{products_path}/#{d.id}" %>>
                <%= image_tag d.product_image.url(:medium), alt: "Cuadernos", style:"width:100%; height:auto", class:"img-rounded" %>
                <div class="caption">
                  <h4 class="card-title"><%= d.name %></h4>
                  <% if d.p_type == 1 %>
                  <p class="card-text">Producto</p>
                  <% else %>
                  <p class="card-text">Servicio</p>
                  <% end %>
                </div>
              </a>
            </div>
          </div>
        </div>
      <% end %>
    </div>
      <div class="offset-md-4 col-md-7">
        <ul class="pagination pagination-lg"> <%= will_paginate @products, renderer: BootstrapPagination::Rails, class: "pagination pagination-lg", :previous_label => t("Anterior"), :next_label => t("Siguiente")%> </ul>
      </div>
  </div>
</section>
<% end %>
<%= link_to "logout", destroy_user_session_path, method: :delete %>
