<!--%= stylesheet_link_tag "filename" %-->
<div class="container margin-top">

  <h4 id="notice" class="myh"><%= notice %></h4>

  <div class="row">
    <div class="offset-sm-2 col-sm-8 center">
      <h1 class="myh">Productos & Servicios</h1>
    </div>
  </div>

  <% if @products.blank? %>
    <h4>No hay productos</h4>
  <% else %>
    <div class="row">
      <% @products.each do |p| %>
        <div class="col-sm-3">
          <div class="thumbnail">
            <div class="opacity">
              <%= link_to show_path(p) do %>
                <%= image_tag p.product_image.url(:medium), alt: "Cuadernos", style:"width:100%; height:auto", class:"img-rounded center" %>
                <div class="caption container-fluid">
                  <h4><%= p.name %></h4>
                  <% if p.p_type == 1 %>
                    <h6>Producto</h6>
                  <% else %>
                    <h6>Servicio</h6>
                  <% end %>
                  <h6><%= p.description  %></h6>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="offset-md-4 col-md-7">
    <ul class="pagination pagination-lg"> <%= will_paginate @products, renderer: BootstrapPagination::Rails, class: "pagination pagination-lg", :previous_label => t("Anterior"), :next_label => t("Siguiente")%> </ul>
  </div>

</div>
<%= link_to "logout", destroy_user_session_path, method: :delete %>
