<!--%= stylesheet_link_tag "filename" %-->
<div class="container-fluid mt-50">

  <h1 class="myh center borderb">Productos & Servicios</h1>

  <% if @products.blank? %>
    <h4>No hay productos</h4>
  <% else %>

  <section class="team" id="team">
    <div class="container-fluid">
      <div class="row">
        <% @products.each do |p| %>
        <div class="col-sm-4 col-lg-4 col-xs-12">
          <%= link_to product_path(p), class: "" do %>
          <div class="card card-block" style="text-align:center;">
              <%= image_tag p.product_image.url(:original), alt: "", style:"max-height:200px;", class:"team-img2 img-rounded" %>
            <div class="card-title-wrap">
              <span class="card-title"><%= p.name %></span>
              <span class="card-text"><%= p.category_name %></span>
            </div>
            <div class="team-over">
              <span class="card-text" style="color:#fff !important;">
                <% if p.p_type == 1 %>
                <h6>Producto</h6>
              <% else %>
                <h6>Servicio</h6>
              <% end %>
              </span>

              <nav class="social-nav">
                  <i class="fa fa-plus-circle personal-gly" aria-hidden="true"></i>
              </nav>
            </div>
          </div>
          <% end %>

        </div>
        <% end %>
      </div>
    </div>
  </section>

  <% end %>


  <div class="row">
    <div class="col-md-offset-2 col-md-8 center">
      <ul class="pagination pagination-lg"> <%= will_paginate @products, renderer: BootstrapPagination::Rails, class: "pagination pagination-lg", :previous_label => t("Anterior"), :next_label => t("Siguiente")%> </ul>
    </div>
  </div>

</div>
