<% content_for :head do %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag "application" %>
<% end %>

<div class="row mt">
  <div class="col-md-3">
    <div class="container">
      <div id="accordion-profile" class="panel-group">
        <div class="panel panel-default">
          <h4><%= link_to "Mis Publicaciones", my_products_index_path, class:"link" %></h4>
        </div>
        <div class="panel panel-default">
          <h4><%= link_to  "Mis Productos", my_products_myobjects_path, class:"link" %></h4>
        </div>
        <div class="panel panel-default">
          <h4><%= link_to  "Mis Servicios", my_products_myservices_path, class:"link" %></h4>
        </div>
        <div class="panel panel-default">
          <h4><a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="link">Mis Ofertas</a></h4>
          <div id="collapse3" class="panel-collapse collapse">
            <div class="panel-body">
              <ul>
                <li><h6><%= link_to  "Realizadas", my_products_offers_made_path, class:"link" %></h6></li>
                <li><h6><%= link_to  "Recibidas", my_products_offers_received_path, class:"link"  %></h6></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><%= link_to  "Mis Transacciones", mytransactions_path %></h4>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><%= link_to  "Mi Perfil", :user_information %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-6 center">
    <h2 class="myh">Informacion de perfil</h2>
    <% if !current_user.nil? %>
      <%= image_tag(current_user.avatar.url(:large) , class: "img-profile img-circle") %></li>
    <% end %>
    <h4 class="mt-12"><%= current_user.first_name + current_user.last_name  %></h4><br>
    <h4 class="mt-12"><%= current_user.email %></h4><br>
    <h4 class="mt-12">3217456987</h4>
    <%= link_to  "Editar información" , :user_edit, class:"btn btn-default mt-12" %>
  </div>
</div>
