<div class="container margin-top">
  <div class="row">
      <div class="offset-md-3 col-md-6 center">
          <h2 class="myh">Informacion de perfil</h2>
      </div>
  </div>

  <div class="row">
    <div class="col-md-6 center">
      <% if !current_user.nil? %>
        <%= image_tag(current_user.avatar.url(:large) , class: "img-full") %></li>
      <% end %>
  
      <h4 class="margin-top-12"><%= current_user.first_name + current_user.last_name  %></h4>
      <h4 class="margin-top-12"><%= current_user.email %></h4>
      <h4 class="margin-top-12">3217456987</h4>
  
      <%= link_to  "Editar información" , :user_edit, class:"btn" %>
    </div>
    <div class="col-md-6 center">
      <ul class="nav nav-pills" role="tablist" id="myTabs">
        <li role="presentation" class="active"><a id="tab1" href="#paneltab1" aria-controls="home" role="tab" data-toggle="tab"class="my-tabs" >Mis compras/cambios</a></li>
        <li role="presentation" ><a id="tab2" href="#paneltab2" aria-controls="profile" role="tab" data-toggle="tab" class="my-tabs">Mis ventas/servicios</a></li>
      </ul>
  
       <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="paneltab1">Productos/servicios comprados....</div>
        <div role="tabpanel" class="tab-pane" id="paneltab2">Productos/servicios vendidos</div>
      </div>
    </div>
  </div>
  <%= link_to t('.back', default: 'Regresar'), :back, class:"btn" %>
</div>

<script type="text/javascript">
$('#myTabs a').click(function (e) {
    $(this).tab('show')
})
</script>


