<%= form_with(model: barter, local: true) do |form| %>
  <% if barter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(barter.errors.count, "error") %> prohibited this barter from being saved:</h2>

      <ul>
      <% barter.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description, id: :barter_description, autofocus: true, class: 'form-control' %>
  </div>
  
  <div class="field margin-top-12">
    <%= form.label :address %>
    <%= form.text_field :address, id: :barter_address, autofocus: true, class: 'form-control' %>
  </div>
  
  <br>
  <div class="actions">
    <%= form.submit 'Actualizar Barter', class: 'btn' %>
  </div>

  
<% end %>