
<% content_for :head do %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMML9mHoxFIC-3CKz_x2-bwQ2s92O4cmE&callback=initMap"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
  <%= javascript_include_tag "map"%>
<% end %>


<div class="container margin-top">
  <h2 class="myhnot">Cambia ubicacion de encuentro</h2>
  <!--<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@barter.latitude}%2C#{@barter.longitude}" %>-->
  <div style='width: 800px;'>
    <div id="map" style='width: 800px; height: 400px;'></div>
  </div>

  <h6>Si estas de acuerdo con esta lugar, presiona acepta, de lo contrario, selecciona la ubicacion dando click en el lugar que desees. <strong>Cuando ambos participantes de la transaccion acepten, el intercambio sera concretado</strong></h6>
  <div class="panel-footer">
    <%= form_for @barter do |b| %>
      <% if @barter.id_one_user == current_user.id %>
        <%= b.select(:accept_user_one, [['Aceptar', 'true'], ['Rechazar', 'false']]) %>
      <% elsif @barter.id_two_user == current_user.id %>
        <%= b.select(:accept_user_two, [['Aceptar', 'true'], ['Rechazar', 'false']]) %>
      <% end %>
      <%= b.hidden_field :latitude , id:"barter_latitude"%>
      <%= b.hidden_field :longitude, id: "barter_longitude" %>

      <%= b.submit 'Aceptar', class: 'btn btn-right' %>
    <% end %>


</div>


<script type="text/javascript">

</script>
