<div class="container margin-top">

  <h4 id="notice" class="myh"><%= notice %></h4>

<div class="row">
  <div class="col-md-6 center">
    <h2 class="myhnot margin-top-12 center"> Lo que tu quieres</h2>

    <%= image_tag @pone.product_image.url(:medium), alt: "", style:"width:200px; height:auto", class:"img-rounded" %>
    <h5 class="margin-5"><%=  @pone.name %></h5>
    <h5 class="margin-5"><%=  @pone.description %></h5>


  </div>


  <div class="col-md-6 center">
    <h2 class="myhnot margin-top-12 center"> Lo que ofreciste</h2>
    <%= image_tag @ptwo.product_image.url(:medium), alt: "", style:"width:200px; height:auto", class:"img-rounded" %>
    <h5 class="margin-5"><%=  @ptwo.name %></h6>
    <h5 class="margin-5"><%=  @ptwo.description %></h5>

  </div>
</div>

<div class="row">
  <div class="col-md-12 center">
    <h4 class="myhnot margin-top-12 center">Description:</h4>
    <h6 class="margin-5"><%= @barter.description %></h6>
  </div>

</div>

  <br>

  <div class="row">
      <div class="offset-sm-1 col-sm-3 right">
          <%= link_to 'Edit', edit_barter_path(@barter), class:"btn btn-w" %>
      </div>
      <div class="col-sm-4 left">
        
      </div>
      <div class="col-sm-3 left">
        <%= link_to 'PDF' , @barter.id.to_s+".pdf",class:"btn btn-w" %>
      </div>
  </div>

</div>

<div class="row">
  <div class="col-md-3">
      <%= link_to 'Back', barters_path ,class:"btn btn-w" %>
  </div>
</div>
