<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @barter.description %>
</p>
<%= link_to 'PDF' , @barter.id.to_s+".pdf" %>
<%= link_to 'Edit', edit_barter_path(@barter) %> |
<%= link_to 'Back', barters_path %>
<%= raw @qr.as_html %>
