<div class="container margin-top">

  <h4 id="notice" class="myh"><%= notice %></h4>

  <% pone = Product.find(@barter.product_one_id) %>
  <% ptwo = Product.find(@barter.product_two_id) %>

  <h4 class="myhnot margin-top-12"> Lo que tu quieres:</h4>
  <h6 class="margin-5"><%=  pone.name %></h6>

  <h4 class="myhnot margin-top-12"> Lo que ofreciste:</h4>
  <h6 class="margin-5"><%=  ptwo.name %></h6>

  <h4 class="myhnot margin-top-12">Description:</h4>
  <h6 class="margin-5"><%= @barter.description %></h6>

  <br>
  <%= link_to 'Edit', edit_barter_path(@barter), class:"btn" %>
  <%= link_to 'Aceptar', :user_home, class:"btn" %>

</div>
<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @barter.description %>
</p>
<%= link_to 'PDF' , @barter.id.to_s+".pdf" %>
<%= link_to 'Edit', edit_barter_path(@barter) %> |
<%= link_to 'Back', barters_path %>
<%= raw @qr.as_html %>
