<div class="container margin-top">
  <h4 id="notice" class="myh"><%= notice %></h4>
  <h4 class="myh margin-5"> Vas a cambiar:</h4>
  <h4 class="margin-5"><%= @barter.product_one_id %></h4>
  <h4 class="myh margin-5"> Por:</h4>
  <h4 class="margin-5"><%= @barter.product_two_id %></h4>
  <br>
  <h4 class="margin-5"><strong>Description:</strong><%= @barter.description %><br></h4>
  
  <br>
  <%= link_to 'Edit', edit_barter_path(@barter), class:"btn margin-5" %>
  <%= link_to 'Aceptar', :user_home, class:"btn margin-5" %>
  
</div>