<div class="container mt">

  <h4 id="notice" class="myh"><%= notice %></h4>

  <div class="row">

    <div class="col-md-offset-1 col-md-4 center">
      <h2 class="myhnot mt-12 center"> Lo Que Quieres</h2>
      <br>
      <div class="superCenter img-div-size" style="">
        <%= image_tag @pone.product_image, alt: "", style:"", class:"img-rounded img-responsive img-size" %>
      </div>
      <div class="caption container-fluid caption-div-size" style="">
        <h4><%= @pone.name %></h4>
        <% if @pone.p_type == 1 %>
          <h6>Producto</h6>
        <% else %>
          <h6>Servicio</h6>
        <% end %>
        <h6><%= @pone.description  %></h6>
      </div>
    </div>

    <div class="col-md-1 superCenter">
      <div class="container-fluid">
      <span class="glyphicon glyphicon-arrow-right icono" style=""></span>
      <span class="glyphicon glyphicon-arrow-left icono" style=""></span>
      </div>
    </div>

    <div class="col-md-4 center">
      <h2 class="myhnot mt-12 center">Lo que ofreciste</h2>
      <br>
      <div class="superCenter img-div-size" style="">
        <%= image_tag @ptwo.product_image, alt: "", style:"", class:"img-rounded img-responsive img-size" %>
      </div>
      <div class="caption container-fluid caption-div-size" style="">
        <h4><%= @pone.name %></h4>
        <% if @pone.p_type == 1 %>
          <h6>Producto</h6>
        <% else %>
          <h6>Servicio</h6>
        <% end %>
        <h6><%= @pone.description  %></h6>
      </div>
    </div>
  </div>

  <div class="row mt-12">
    <div class="col-md-offset-1 col-md-11">
      <h4 class="myhnot">Description:</h4>
      <h4><%= @barter.description %></h4>
    </div>
  </div>

  <div class="row mt-12">
    <div class="col-md-offset-1 col-md-11">
      <%= link_to 'Back', offers_received_my_products_path ,class:"btn btn-default" %>
      <%= link_to 'Contraofertar', product_path(@ptwo), class:"btn btn-w" %>
    </div>
  </div>
</div>
</div>
</div>
