<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <div class="row">
      <div class="col-md-6 center">
        <h2 class="myhnot margin-top-12 center"> Producto adquirido</h2>

        <%= image_tag @pone.product_image.url(:medium), alt: "", style:"width:200px; height:auto", class:"img-rounded" %>
        <h5 class="margin-5"><%=  @pone.name %></h5>
        <h5 class="margin-5"><%=  @pone.description %></h5>


      </div>


      <div class="col-md-6 center">
        <h2 class="myhnot margin-top-12 center"> Producto ofertado</h2>
        <%= image_tag @ptwo.product_image.url(:medium), alt: "", style:"width:200px; height:auto", class:"img-rounded" %>
        <h5 class="margin-5"><%=  @ptwo.name %></h6>
        <h5 class="margin-5"><%=  @ptwo.description %></h5>

      </div>
    </div>
    <p>
      Visita UNTrueque para más información <%= @url %>.
    </p>
  </body>
</html>
