<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Has realizado una transacción de: </h1>
    <div class="row">
      <div class="col-md-6 center">
        <h2 class="myhnot margin-top-12 center"> Producto adquirido</h2>
        <h5 class="margin-5"><%=  @pone.name %></h5>
        <h5 class="margin-5"><%=  @pone.description %></h5>


      </div>


      <div class="col-md-6 center">
        <h2 class="myhnot margin-top-12 center"> Producto ofertado</h2>
        <h5 class="margin-5"><%=  @ptwo.name %></h6>
        <h5 class="margin-5"><%=  @ptwo.description %></h5>

      </div>
    </div>
    <h1>Para calificar al usuario con el que hiciste la transaccion da click en el siguiente enlace: </h1>
    <%= link_to 'Ver', @path, class:'btn btn-ghost', style:"float: left"%>
  </body>
</html>
