<% content_for :head do %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMML9mHoxFIC-3CKz_x2-bwQ2s92O4cmE&callback=initMapStatic"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
  <%= javascript_include_tag "map"%>
<% end %>

<div class="container mt">
  <div class="row">
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-5 center">
          <%  @pone = @barter.get_product_one %>
          <h2 class="myhnot mt-12 center"> Tu Producto </h2><br><br>
          <br>
          <div class="superCenter img-div-size" style="">
            <%= image_tag @pone.product_image, alt: "", style:"", class:"img-rounded img-responsive img-size" %>
          </div>
          <div class="caption container-fluid caption-div-size" style="">
            <h4><%= @pone.name %></h4>
            <% if @pone.p_type == 1 %>
              <h6>Producto</h6>
            <% else %>
              <h6>Servicio</h6>
            <% end %>
            <h6><%= @pone.description  %></h6>
          </div>
        </div>

        <div class="col-md-1 superCenter">
          <div class="container-fluid">
          <span class="glyphicon glyphicon-arrow-right icono" style=""></span>
          <span class="glyphicon glyphicon-arrow-left icono" style=""></span>
          </div>
        </div>

        <div class="col-md-5 center">
          <%  @ptwo = @barter.get_product_two %>
          <h2 class="myhnot mt-12 center"> Lo Que Te Ofrecen </h2>
          <br>
          <div class="superCenter img-div-size" style="">
            <%= image_tag @ptwo.product_image, alt: "", style:"", class:"img-rounded img-responsive img-size" %>
          </div>
          <div class="caption container-fluid caption-div-size" style="">
            <h4><%= @ptwo.name %></h4>
            <% if @ptwo.p_type == 1 %>
              <h6>Producto</h6>
            <% else %>
              <h6>Servicio</h6>
            <% end %>
            <h6><%= @ptwo.description  %></h6>
          </div>
        </div>
      </div>
      <div class="container-fluid">
        <h2 class="myh">Mapa</h2>
        <div style='width: 800px;'>
          <div id="mapStatic" style='width: 800px; height: 400px;'></div>
        </div>
        <%= link_to 'Edit Ubication', :change_ubication, class:"minibtn" %>
      </div>
    </div>

    <div>
        <%= form_for @barter do |b| %>
          <h6><strong>Lugar del trueque: </strong></h6>
          <%= b.text_area :address, class: 'form-control', placeholder: 'Universidad Nacional de Colombia' %>
          <%= @product_one.available = false %>
          <%= @product_one.save %>

          <%= @product_two.available = false %>
          <%= @product_two.save %>

          <% if @barter.accept_user_one and @barter.accept_user_two %>
            <%= @barter.state = 2 %>
          <% else %>
            <%= @barter.state = 1 %>
          <% end %>
          <%= b.hidden_field :latitude , id:"barter_latitude_static"%>
          <%= b.hidden_field :longitude, id: "barter_longitude_static" %>

          <%= @barter.save%>
          <%= b.submit 'Aceptar', class: 'btn  btn-right' %>
        <% end %>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="myhnot">Mensajes</h2>
        </div>
        <div class="panel-body">
          <div class="container-fluid" style="height: 600px; overflow-y: scroll;">
            <% if @comments.nil? %>
              <p>Aún no hay comentarios</p>
            <% else %>
              <% @comments.each do |c| %>
                <p><%= c.get_user %> dijo:</p>
                <p><%= c.content %></p>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class="panel-footer">
          <%= form_for @comment  do |c| %>
            <%= c.hidden_field :barter, :value => @barter.id %>
            <%= c.hidden_field :user, :value => @user.id %>
            <%= c.text_area :content, style:"width:100%; background-color:#fff;" %>
            <%= c.submit 'Comentar', class: 'btn btn-ghost btn-right' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
