
<% content_for :head do %>
  <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAMML9mHoxFIC-3CKz_x2-bwQ2s92O4cmE&callback=initMapStatic"></script>
  <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>
  <script src='//cdn.rawgit.com/printercu/google-maps-utility-library-v3-read-only/master/infobox/src/infobox_packed.js' type='text/javascript'></script> <!-- only if you need custom infoboxes -->
  <%= javascript_include_tag "map"%>
<% end %>


<div class="container margin-top">
  <h2 class="myhnot">Mapa</h2>
  <!--<%=image_tag  "https://maps.googleapis.com/maps/api/staticmap?center=#{@barter.latitude},#{@barter.longitude}&zoom=13&size=600x300&maptype=roadmap&markers=color:blue%7Clabel:S%7C#{@barter.latitude},#{@barter.longitude}&key=AIzaSyAVA9VtSn3A-SLHeSac51bfbSWdD9gt6HA" %>-->
  <div style='width: 800px;'>
    <div id="mapStatic" style='width: 800px; height: 400px;'></div>
  </div>

  <div class="panel-footer">
    <%= form_for @barter do |b| %>
      <h6><strong>Lugar del trueque: </strong></h6>
      <%= b.text_area :address, class: 'form-control', placeholder: 'Universidad Nacional de Colombia' %>
      <%= @product_one.available = false %>
      <%= @product_one.save %>

      <%= @product_two.available = false %>
      <%= @product_two.save %>

      <% if @barter.accept_user_one and @barter.accept_user_two %>
        <%= @barter.state = 2 %>
      <% else %>
        <%= @barter.state = 1 %>
      <% end %>
      <%= b.hidden_field :latitude , id:"barter_latitude_static"%>
      <%= b.hidden_field :longitude, id: "barter_longitude_static" %>

      <%= @barter.save%>
      <%= b.submit 'Aceptar', class: 'btn  btn-right' %>


    <% end %>
    <a class="ui teal button minibtn" href="facture.pdf">Descargar PDF</a>
    <%= link_to 'PDF' , @barter.id.to_s+".pdf", class:"minibtn" %>
    <%= link_to 'Edit PDF', edit_barter_path(@barter), class:"minibtn" %>
    <%= link_to 'Edit Ubication', :change_ubication, class:"minibtn" %>
  </div>
</div>
