<div class="container mt">
 <div class="row">
    <div class="col-sm-12">
      <h2 class="myh">Mis Productos</h2>
      <%= link_to 'Nuevo', new_product_path, class:'btn btn-default btn-right' %>
    </div>
  </div>

  <% if @products.blank? %>
    <h4>No hay productos</h4>
  <% else %>
    <div class="row">
      <% @products.each do |p| %>
        <div class="col-sm-3 row-eq-height">
          <div class="my-thumbnail">
            <div class="opacity">
              <%= link_to offer_my_product_path(p.id) do %>
                <div class="superCenter" style="height:200px">
                  <%= image_tag p.product_image.url(:medium), alt: "", style:"max-height:200px;", class:"img-rounded center" %>
                </div>
                <div class="caption container-fluid" style="height: 100px">
                  <h4><%= p.name %></h4>
                  <% if p.p_type == 1 %>
                    <p>Producto</p>
                  <% else %>
                    <p>Servicio</p>
                  <% end %>
                  <p><%= p.description  %></p>
                </div>
              <% end %>
            </div>
            <span><%= link_to 'Edit', edit_product_path(p), class:"btn btn-ghost" %></span>
            <span><%= link_to 'Destroy', p, method: :delete, data: { confirm: 'Are you sure?'}, class:"btn btn-ghost" %></td>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="offset-md-4 col-md-7">
    <ul class="pagination pagination-lg"> <%= will_paginate @products, renderer: BootstrapPagination::Rails, class: "pagination pagination-lg", :previous_label => t("Anterior"), :next_label => t("Siguiente")%> </ul>
  </div>

</div>
