<div class="container margin-top">
    <div class="row">
      <h2 class="myh">Ofertas</h2>
    </div>
    
    <div class="row">
        
        <% if @barters.nil? %>
        <h4>Aún no has recibido ofertas para este producto.</h4>
        <% else %>
            <div class="col-xs-3">
            <% @barters.each do |b| %>
                <div class="thumbnail">
                  <div class="opacity">
                    <h1><%= b.product_two_id %></h1>
                    <div class="caption">
                    </div>
                  </div>
                </div>
            <% end %>
        <% end %>
        
    </div>
    
</div>
<h1><%= @product.name %></h1>

<% @barters.each do |b| %>
    <h2><%= b.description %></h2>
    <h3><%= b.product_one_id %></h3>
    <h3><%= b.product_two_id %></h3>
    <td><%= link_to 'Aceptar', my_offer_path(b), data: { confirm: 'Estás seguro?' } %></td>
<% end %>