<div class="container margin-top">
  
  <h2 class="myh">Ofertas recibidas</h2>
  
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Tu Producto</th>
        <th>Lo que te han ofrecido</th>
        <th>Description</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @barters.each do |barter| %>
        <tr>
          <td><%= barter.product_one_id %></td>
          <td><%= barter.product_two_id %></td>
          <td><%= barter.description %></td>
          <td><%= link_to 'Show', barter %></td>
          <td><%= link_to 'Edit', edit_barter_path(barter) %></td>
          <td><%= link_to 'Destroy', barter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
