<div class="container mt">

  <h2 class="myh">Ofertas recibidas</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Tu Producto</th>
        <th>Lo que te han ofrecido</th>
        <th>Description</th>
        <th>Estado</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @barters.each do |barter| %>
        <tr>
          <td class="info"><%= barter.product_one_id %></td>
          <td class="info"><%= barter.product_two_id %></td>
          <td class="info"><%= barter.description %></td>
          <% if barter.state==1 %>
            <td class="info">Pendiente</td>
          <% elsif barter.state==2 %>
            <td class="info">Aprobado</td>
          <% elsif barter.state==3 %>
            <td class="info">Rechazado</td>
          <% end %>
          <td class="info"><%= link_to raw('<span class="glyphicon glyphicon-eye-open"></span>'), accept_path(barter) %></td>
          <td class="info"><%= link_to raw('<span class="glyphicon glyphicon-pencil"></span>'), edit_barter_path(barter) %></td>
          <td class="info"><%= link_to raw('<span class="glyphicon glyphicon-remove"></span>'), barter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
