<div class="container margin-top">
    <div class="row">
        <div class="offset-md-3 col-sm-6 center">
            <div class="container-fluid">
                <h2 class="myh">Lo que han ofrecido por tu <br> <strong><%= @product.name %></strong></h2>
                <div class="center" style="height:250px">
                    <%= image_tag @product.product_image.url(:medium), alt: "", style:"max-height:250px", class:"img-rounded" %>
                </div>
            </div>
        </div>
    </div>

    <br>
    <% if @barters.blank? %>
        <div class="col-md-6">
            <h4>Aún no has recibido ofertas para este producto.</h4>
        </div>
    <% else %>
        <div class="row">
            <% @barters.each do |b| %>
                <% p = Product.find(b.product_two_id) %>
                <div class="col-md-3 row-eq-height">
                    <div class="my-thumbnail">
                        <div class="opacity">
                            <div class="superCenter" style="height:200px">
                                <%= image_tag p.product_image.url(:medium), alt: "", style:"max-height:200px;", class:"img-rounded" %>
                            </div>
                            <div class="caption container-fluid">
                                <h4 class="myhnot"><%= p.name %></h4>
                                <h6><%= b.description %></h6>
                                <br>
                                <%= link_to 'Ver', barter_path(b), class:'btn-ghost', style:"float: left"%>
                                <%= link_to 'Negociar', accept_path(b.id), class:'btn-ghost', style:"float: center" %>
                                <%= link_to 'Rechazar', b, class:'btn-ghost',style: "float: right", method: :delete, data: { confirm: '¿Estás segur@?' } %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    <% end %>


    <div class="offset-md-4 col-md-7">
        <ul class="pagination pagination-lg"> <%= will_paginate @barters, renderer: BootstrapPagination::Rails, class: "pagination pagination-lg", :previous_label => t("Anterior"), :next_label => t("Siguiente")%> </ul>
    </div>
</div>
