<div class="container-fluid mt-50">
  <div class="row ">

    <div class="col-xs-12 col-sm-12 col-md-4 center">
      <div id="fixprofile">
        <h2 class="myh center">Informacion de perfil</h2>

        <div class="row">
          <% if !current_user.nil? %>
            <%= image_tag(current_user.avatar.url(:large) , class: "img-profile img-circle") %>
          <% end %>
        </div>

        <h4 class="mt-12"><%= current_user.first_name + current_user.last_name %></h4><br>
        <h4 class="mt-12"><%= current_user.email %></h4><br>
        <h4 class="mt-12">3217456987</h4>
        <%= link_to "Editar información" , :user_edit, class:"btn btn-default mt-12" %>
      </div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-8">
      <div id="tabs-container">
        <div class="row">
          <div class="col-md-12">
            <ul class="tabs-menu">
              <li class="current">
                <a href="#tab-1">Mis Publicaciones</a>
              </li>
              <li>
                <a href="#tab-2">Mis Transacciones</a>
              </li>
              <li>
                <a href="#tab-3">Ofertas realizadas</a>
              </li>
              <li>
                <a href="#tab-4">Ofertas Recibidas,</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="tab container-fluid">

          <div id="tab-1" class="tab-content">
            <div class="row">
              <div class="col-md-12">
                <h2 class="myh">Mis Productos y Servicios</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 center">
                <button class="btn btn-default filter-button" data-filter="all">Todo</button>
                <button class="btn btn-default filter-button" data-filter="products">Productos</button>
                <button class="btn btn-default filter-button" data-filter="services">Serivicios</button>
              </div>
            </div>

            <section class="team" id="team">
              <div class="container-fluid">
                <div class="row">

                  <% if @products.blank? %>
                    <h4>Debes agregar productos</h4>
                  <% else %>

                    <% @proandserv.each do |p| %>
                      <% if p.p_type == 1 %>
                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 row-eq-height filter products">
                        <% else %>
                          <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 row-eq-height filter services">
                          <% end %>
                          <%= link_to offer_my_product_path(p) do %>

                          <div class="card card-block" style="text-align:center;">

                            <%= image_tag p.product_image.url(:original), alt: "", style:"max-height:200px;", class:"team-img2 img-rounded" %>
                            <div class="card-title-wrap">
                              <span class="card-title"><%= p.name %></span>
                              <span class="card-text"><%= p.category_name %></span>

                            </div>
                            <div class="team-over">
                              <span class="card-text" style="color:#fff !important;">
                                <% if p.p_type == 1 %>
                                  <h6>Producto</h6>
                                <% else %>
                                  <h6>Servicio</h6>
                                <% end %>
                              </span>

                              <nav class="social-nav">
                                <%= link_to offer_my_product_path(p) do %>
                                <i class="fa fa-eye gly-nav" aria-hidden="true"></i>

                              <% end %>

                              <%= link_to edit_product_path(p) do %>
                              <i class="fa fa-pencil gly-nav" aria-hidden="true"></i>

                            <% end %>

                            <%= link_to p, method: :delete, data: { confirm: 'Are you sure?'} do %>
                            <i class="fa fa-times gly-nav" aria-hidden="true"></i>
                          <% end %>
                        </nav>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            <% end %>

          </div>
        </div>
      </section>
      <div class="row">
        <div class="col-md-12">
          <%= link_to 'Nuevo', new_product_path, class:'btn btn-default btn-right' %>
        </div>
      </div>
      <div class="col-md-offset-4 col-md-7">
        <ul class="pagination pagination-lg">
          <%= will_paginate @products, renderer: BootstrapPagination::Rails, class: "pagination pagination-lg", :previous_label => t("Anterior"), :next_label => t("Siguiente")%>
        </ul>
      </div>
    </div>
  </div>

  <div id="tab-2" class="tab-content">
    <div class="row">
      <div class="col-md-12">
        <h2 class="myh">Mis Transacciones</h2>
      </div>
    </div>
    <div class="row" style="border-bottom: 1px solid rgb(221, 221, 221)">
      <div class="col-xs-6 col-md-5 center">
        <h4>Producto 1</h4>
      </div>
      <div class="col-xs-6 col-md-offset-2 col-md-5 center">
        <h4>Producto 2</h4>
      </div>
    </div>

    <% @barters.each do |barter| %>
      <% @pone = barter.get_product_one %>
      <% @ptwo = barter.get_product_two %>
      <div class="row geth3">
        <div class="mask3">
          <div class="row mt-50">
              <div class="col-md-12 center">
                <h4 class="hbb">Aprobado</h4>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12 center">
                <p class="pbb"><%= barter.description%></p>
              </div>
          </div>
          <div class="row">
              <div class="col-md-12 center">
                <p class="pbb"><%= barter.updated_at %></p>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="flexEnd center" style="margin: 0 50px">
                <%= link_to raw('<span class="glyphicon glyphicon-eye-open"></span>'), succesfull_transaction_my_product_url(barter), class:"btn btn-ghost" %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-5 col-sm-5 col-md-5">
          <div class="superCenter img-div-size" style="">
            <%= image_tag @pone.product_image, alt: "", style:"", class:"img-rounded img-responsive img-size" %>
          </div>
          <div class="caption container-fluid caption-div-size center" style="">
            <h4><%= @pone.name %></h4>
              <% if @pone.p_type == 1 %>
            <h6>Producto</h6>
              <% else %>
            <h6>Servicio</h6>
              <% end %>
            <h6><%= @pone.description  %></h6>
          </div>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 superCenter">
          <span>
            <i class="fa fa-exchange other-gly" aria-hidden="true"></i>
          </span>
        </div>

        <div class="col-xs-5 col-sm-5 col-md-5">
          <div class="superCenter img-div-size" style="">
            <%= image_tag @ptwo.product_image, alt: "", style:"", class:"img-rounded img-responsive img-size" %>
          </div>
          <div class="caption container-fluid caption-div-size center" style="">
            <h4><%= @ptwo.name %></h4>
            <% if @ptwo.p_type == 1 %>
              <h6>Producto</h6>
            <% else %>
              <h6>Servicio</h6>
            <% end %>
            <h6><%= @ptwo.description  %></h6>
          </div>
        </div>

      </div>
    <% end %>




  </div>

  <div id="tab-3" class="tab-content">

      <div class="col-md-12">
        <h2 class="myh">Ofertas Realizadas</h2>
      </div>

      <div class="row" style="border-bottom: 1px solid rgb(221, 221, 221)">
        <div class="col-xs-6 col-md-5 center">
          <h4>Lo Que Quieres</h4>
        </div>
        <div class="col-xs-6 col-md-offset-2 col-md-5 center">
          <h4>Lo Que Ofreciste</h4>
        </div>
      </div>

          <% @bartersmade.each do |barter| %>
            <% @pone = barter.get_product_one %>
            <% @ptwo = barter.get_product_two %>
            <div class="row geth">
              <div class="mask">
                <div class="row mt-50">
                    <div class="col-md-12 center">
                      <% if barter.state==1 %>
                        <h4 class="hbb">Pendiente</h4>
                      <% elsif barter.state==2 %>
                        <h4 class="hbb">Aprobado</h4>
                      <% elsif barter.state==3 %>
                        <h4 class="hbb">Rechazado</h4>
                      <% end %>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12 center">
                      <p class="pbb"><%= barter.description%></p>
                    </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="flexEnd center" style="margin: 0 50px">
                      <%= link_to raw('<span class="glyphicon glyphicon-eye-open"></span>'), accept_my_product_path(barter), class:"btn btn-ghost" %>
                      <%= link_to raw('<span class="glyphicon glyphicon-remove"></span>'), barter, class:"btn btn-ghost", method: :delete, data: { confirm: 'Are you sure?' } %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-5 col-sm-5 col-md-5">
                <div class="superCenter img-div-size" style="">
                  <%= image_tag @pone.product_image, alt: "", style:"", class:"img-rounded img-responsive img-size" %>
                </div>
                <div class="caption container-fluid caption-div-size center" style="">
                  <h4><%= @pone.name %></h4>
                    <% if @pone.p_type == 1 %>
                  <h6>Producto</h6>
                    <% else %>
                  <h6>Servicio</h6>
                    <% end %>
                  <h6><%= @pone.description  %></h6>
                </div>
              </div>

              <div class="col-xs-2 col-sm-2 col-md-2 superCenter">
                <span>
                  <i class="fa fa-exchange other-gly" aria-hidden="true"></i>
                </span>
              </div>

              <div class="col-xs-5 col-sm-5 col-md-5">
                <div class="superCenter img-div-size" style="">
                  <%= image_tag @ptwo.product_image, alt: "", style:"", class:"img-rounded img-responsive img-size" %>
                </div>
                <div class="caption container-fluid caption-div-size center" style="">
                  <h4><%= @ptwo.name %></h4>
                  <% if @ptwo.p_type == 1 %>
                    <h6>Producto</h6>
                  <% else %>
                    <h6>Servicio</h6>
                  <% end %>
                  <h6><%= @ptwo.description  %></h6>
                </div>
              </div>

            </div>
          <% end %>

      </div>
  </div>

  <div id="tab-4" class="tab-content">
    <div class="row">
      <div class="col-md-12">
        <h2 class="myh">Ofertas Recibidas</h2>
      </div>
    </div>

    <div class="row" style="border-bottom: 1px solid rgb(221, 221, 221)">
      <div class="col-xs-6 col-md-5 center">
        <h4>Tu Producto</h4>
      </div>
      <div class="col-xs-6 col-md-offset-2 col-md-5 center">
        <h4>Lo Que Te Ofrecen</h4>
      </div>
    </div>

    <% @bartersreceived.each do |barter| %>
      <% @pone = barter.get_product_one %>
      <% @ptwo = barter.get_product_two %>
      <div class="row geth2">
        <div class="mask2">
          <div class="row mt-50">
              <div class="col-md-12 center">
                <% if barter.state==1 %>
                  <h4 class="hbb">Pendiente</h4>
                <% elsif barter.state==2 %>
                  <h4 class="hbb">Aprobado</h4>
                <% elsif barter.state==3 %>
                  <h4 class="hbb">Rechazado</h4>
                <% end %>
              </div>
          </div>

          <div class="row">
              <div class="col-md-12 center">
                <p class="pbb"><%= barter.description%></p>
              </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="flexEnd center" style="margin: 0 50px">
                <%= link_to raw('<span class="glyphicon glyphicon-resize-horizontal"></span>'), accept_my_product_path(barter), class:"btn btn-ghost"%>
                <%= link_to raw('<span class="glyphicon glyphicon-eye-open"></span>'), barter, class:"btn btn-ghost" %>
                <%= link_to raw('<span class="glyphicon glyphicon-ban-circle"></span>'), barter, method: :delete, class:"btn btn-ghost", data: { confirm: '¿Estás segur@?' } %>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xs-5 col-sm-5 col-md-5">
          <div class="superCenter img-div-size" style="">
            <%= image_tag @pone.product_image, alt: "", style:"", class:"img-rounded img-responsive img-size" %>
          </div>
          <div class="caption container-fluid caption-div-size center" style="">
            <h4><%= @pone.name %></h4>
              <% if @pone.p_type == 1 %>
            <h6>Producto</h6>
              <% else %>
            <h6>Servicio</h6>
              <% end %>
            <h6><%= @pone.description  %></h6>
          </div>
        </div>

        <div class="col-xs-2 col-sm-2 col-md-2 superCenter">
          <span>
            <i class="fa fa-exchange other-gly" aria-hidden="true"></i>
          </span>
        </div>

        <div class="col-xs-5 col-sm-5 col-md-5">
          <div class="superCenter img-div-size" style="">
            <%= image_tag @ptwo.product_image, alt: "", style:"", class:"img-rounded img-responsive img-size" %>
          </div>
          <div class="caption container-fluid caption-div-size center" style="">
            <h4><%= @ptwo.name %></h4>
            <% if @ptwo.p_type == 1 %>
              <h6>Producto</h6>
            <% else %>
              <h6>Servicio</h6>
            <% end %>
            <h6><%= @ptwo.description  %></h6>
          </div>
        </div>

      </div>
    <% end %>
  </div>
</div>
</div>
<!--
<div class="col-md-3">
<div class="container-fluid">
  <div id="accordion-profile" class="panel-group">
    <div class="panel panel-default">
      <h4><%= link_to "Mis Publicaciones", my_products_path, class:"link" %></h4>
    </div>
    <div class="panel panel-default">
      <h4><%= link_to "Mis Productos", myobjects_my_products_path, class:"link" %></h4>
    </div>
    <div class="panel panel-default">
      <h4><%= link_to "Mis Servicios", myservices_my_products_path, class:"link" %></h4>
    </div>
    <div class="panel panel-default">
      <h4>
        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3" class="link">Mis Ofertas</a>
      </h4>
      <div id="collapse3" class="panel-collapse collapse">
        <div class="panel-body">
          <ul>
            <li>
              <h6><%= link_to "Realizadas", offers_made_my_products_path, class:"link" %></h6>
            </li>
            <li>
              <h6><%= link_to "Recibidas", offers_received_my_products_path, class:"link" %></h6>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="panel panel-default">
      <h4><%= link_to "Mis Transacciones", mytransactions_my_products_path, class:"link" %></h4>
    </div>
    <div class="panel panel-default">
      <h4><%= link_to "Mi Perfil", :user_information, class:"link" %></h4>
    </div>
  </div>
</div>
</div>-->

</div>
</div>

<script type="text/javascript">
$(document).ready(function () {
  $(".tabs-menu a").click(function (event) {
    event.preventDefault();
    $(this).parent().addClass("current");
    $(this).parent().siblings().removeClass("current");
    var tab = $(this).attr("href");
    $(".tab-content").not(tab).css("display", "none");
    $(tab).fadeIn();

    if(tab=="#tab-2"){
      var hm=$(".geth3").css("height");
      var wm=$(".geth3").css("width");
      $(".mask3").css("height",hm);
      $(".mask3").css("width",wm);
    }

    if(tab=="#tab-3"){
      var hm=$(".geth").css("height");
      var wm=$(".geth").css("width");
      $(".mask").css("height",hm);
      $(".mask").css("width",wm);
    }

    if(tab=="#tab-4"){
      var hm=$(".geth2").css("height");
      var wm=$(".geth2").css("width");
      $(".mask2").css("height",hm);
      $(".mask2").css("width",wm);
    }

  });

  $(".filter-button").click(function () {
    var value = $(this).attr('data-filter');
    if (value == "all") {
      //$('.filter').removeClass('hidden');
      $('.filter').show('1000');
    } else {
      $(".filter").not('.' + value).hide('3000');
      $('.filter').filter('.' + value).show('3000');

    }
  });

  if ($(".filter-button").removeClass("active")) {
  $(this).removeClass("active");
  }
  $(this).addClass("active");

});

</script>
