<div class="container margin-top">

  <div class="row">
    <div class="offset-sm-2 col-sm-8 center">
      <h1 class="myh">¡Transacción exitosa!</h1>
    </div>
  </div>

<div class="row">
  <div class="col-md-6 center">
    <h2 class="myhnot margin-top-12 center"> Producto adquirido</h2>

    <%= image_tag @pone.product_image.url(:medium), alt: "", style:"width:200px; height:auto", class:"img-rounded" %>
    <h5 class="margin-5"><%=  @pone.name %></h5>
    <h5 class="margin-5"><%=  @pone.description %></h5>


  </div>


  <div class="col-md-6 center">
    <h2 class="myhnot margin-top-12 center"> Producto ofertado</h2>
    <%= image_tag @ptwo.product_image.url(:medium), alt: "", style:"width:200px; height:auto", class:"img-rounded" %>
    <h5 class="margin-5"><%=  @ptwo.name %></h6>
    <h5 class="margin-5"><%=  @ptwo.description %></h5>

  </div>
</div>

<div class="row">
  <div class="col-md-12 center">
    <h4 class="myhnot margin-top-12 center">Description:</h4>
    <h6 class="margin-5"><%= @barter.description %></h6>
  </div>

</div>

  <br>

</div>

<div class="row">
  <div class="col-md-12 center">
    <a class="ui teal button minibtn" href="facture.pdf">Descargar PDF</a>
    <%= link_to 'PDF Transacción' , @barter.id.to_s+".pdf", class:"minibtn" %>
  </div>
</div>
