<div class="container">

  <div class="row">
    <div class="offset-md-4 col-md-4" style="padding: 10px">
      <%=image_tag("logoun.png", alt: "logo UNTrueque", id:"logo-unt", width:"100%")%>
    </div>
  </div>

  <div class="row">
    <div class="offset-md-3 col-md-6">
      <div class="main-login main-center">
        <div class="panel panel-default devise-bs">
          <div class="panel-heading center">
            <h2><%= t('.sign_in', default: 'Sign in') %></h2>
          </div>
          <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { role: 'form' }) do |f| %>
              <div class="form-group">
                <%= f.label :email %>
                <%= f.email_field :email, autofocus: true, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :password %>
                <%= f.password_field :password, autocomplete: 'off', class: 'form-control' %>
              </div>
              <% if devise_mapping.rememberable? %>
                <div class="checkbox">
                  <%= f.label :remember_me do %>
                    <%= f.check_box :remember_me %> <%= t('.remember_me', default: 'Recuérdame') %>
                  <% end %>
                </div>
              <% end %>
              <div class="row">
                <div class="offset-md-3 col-md-6">
                    <%= f.submit  t('.sign_in', default: 'Sign in'), class: 'btn btn-primary btn-full' %>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>

    </div>
  </div>




</div>
<center>
  <%= render 'devise/shared/links' %>
</center>
