<%= form_with(model: product, local: true, class:"myform") do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="row">
  <div class="offset-md-4 col-md-4 center">
      <%= image_tag @product.product_image.url(:medium), class: "img-fullproduct mt30"%>
  </div>
</div>

<div class="row">
  <div class="offset-md-4 col-md-4">
    <div class="form-group">
      <%= form.file_field :product_image %>
    </div>
  </div>
</div>


<div class="row">
  <div class="offset-md-4 col-md-4">
    <div class="form-group">
      <%= form.label :name %>
      <%= form.text_field :name, id: :product_name, autofocus: true, class: 'form-control' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="offset-md-4 col-md-4">
    <div class="form-group">
      <%= form.label :p_type %>
      <%= form.number_field :p_type, id: :product_p_type, autofocus: true, class: 'form-control' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="offset-md-4 col-md-4">
    <div class="form-group">
      <%= form.label :description %>
      <%= form.text_field :description, id: :product_description, autofocus: true, class: 'form-control' %>
    </div>
  </div>
</div>

<div class="row">
  <div class="offset-md-5 col-md-2">
    <%= form.submit t('.new_prod', default: 'Crear producto'), class: 'btn btn-full my-btn' %>
  </div>
</div>

<% end %>
