<div class="row">
  <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">

    <%= form_with(model: product, local: true, class:"myform") do |form| %>
    <% if product.errors.any? %>
      <div id="error_explanation" class="alert alert-danger alert-dismissable">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
        <b><%= pluralize(product.errors.count, "error") %>
          prohibited this product from being saved:</b>
        <ul>
          <% product.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="row">
      <div class="col-md-12 center">
        <%= image_tag @product.product_image, class: "mt30 imgw2"%>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= form.file_field :product_image %>
        </div>

        <div class="form-group">
          <%= form.label "Nombre" %>
          <%= form.text_field :name, id: :product_name, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label "Tipo" %><br>

          <%= label_tag(:p_type_product, "Producto") %>
          <%= form.radio_button :p_type,1 ,class:"buttons-product" %>

          <%= label_tag(:p_type_service, "Servicio") %>
          <%= form.radio_button :p_type ,2 , class: "buttons-service" %>

          <!--<%= form.select :p_type, options_for_select([["Servicio", 2], ["Producto", 1]]) %>-->
        </div>

        <div class="form-group">
          <%= form.label "Descripción" %>
          <%= form.text_field :description, id: :product_description, autofocus: true, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= form.label "Categoría" %>
          <%= form.collection_select(:category, @categories, :id, :name) %>
        </div>

        <div class="form-group">
          <%= form.label "Interes" %>
          <%= form.collection_select(:interests, @categories, :id, :name) %>
        </div>

        <div class="">
          <div class="form-group" id="buttons-service" style="display:none;">
            <%= form.label "Duración" %>
            <%= form.time_field(:duration) %>
          </div>

          <div class="form-group" id="buttons-product" style="display:none;">
            <%= form.label "Estado" %>
            <%= form.select :state, options_for_select([["Nuevo", true], ["Usado", false]]) %>
          </div>
          <%= form.hidden_field :available, :value=>true %>
          <%= form.submit t('.new_prod', default: 'Crear producto'), class: 'btn btn-default full-width' %>
        </div>
      </div>
    <% end %>

  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    $(':radio').click(function () {
      $('#' + $(this).attr('class')).fadeIn().siblings('div').hide();
    }).filter(':checked').click();
  });
</script>
