<!--p id="notice"><%= notice %></p-->

<div class="container prodh1"><h1>Productos</h1></div>


<% if @products.blank? %>
<p> No hay productos</p>
<% else %>
<section class="team" id="team">
  <div class="container">
    <div class="row">
      <% @products.each do |d| %>
      <div class="col-sm-4">
        <div class="card card-block my-item">
          <a href="#">
              <%= image_tag d.image.url(:medium), class:"team-img" %>
              <div class="card-title-wrap">
                <span class="card-title"><%= d.name %></span> <span class="card-text">Tipo: intercambio/venta/donacion</span>
              </div>
          </a>
          <div class="team-over">
            <a href="#">
            <h4 class="hidden-md-down">
              Ver Producto!!
            </h4>

            </a>

            <p>
              <%= d.description%>
            </p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</section>
<% end %>

<br>

<center>
  <%= link_to 'New Product', new_product_path, {:class => "btn"} %>
</center>
