<% content_for :head do %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <%= stylesheet_link_tag "application" %>
<% end %>

<div class="container-fluid mt">

    <h2 class="myh">Estas ofertando por: <b><%= @product.name %></b></h2>

    <div class="row">

        <div class="col-sm-6 superCenter">
            <%= image_tag @product.product_image, alt: "", style:"", class:"img-rounded img-responsive" %>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">

                <div class="panel-heading">
                    <h2 class="myhnot">Tu Oferta</h2>
                </div>

                <div class="panel-body">
                    <form>
                        <label class="radio-inline">
                            <input type="radio" name="optradio" class="buttons-product">Producto
                        </label>

                        <label class="radio-inline">
                            <input type="radio" name="optradio"  class="buttons-service">Servicio
                        </label>
                    </form>

                    <div id="buttons-product" style="display:none;">
                      <%= link_to "Nuevo", new_product_path, class:"btn btn-default" %>
                      <button type="button" class="btn btn-default btn-right" data-toggle="modal" data-target="#modal">Mis Productos</button>
                    </div>
                    <div id="buttons-service" style="display:none;">
                      <%= link_to "Nuevo", new_product_path, class:"btn btn-default" %>
                      <button type="button" class="btn btn-default btn-right" data-toggle="modal" data-target="#modal">Mis Servicios</button>
                    </div>

                    <!--%= link_to  "Mis Productos", nil, { :class => 'btn btn-right margin-5', 'data-toggle' => 'modal', 'data-target'=>' #modal' } %-->

                    <br>
                    <div class="m-5">
                        <% if @offert.id == nil %>
                            <h4>Debes seleccionar un producto.</h4>
                        <% else %>
                            <h4 class="myhnot">Tu oferta es: </h4>
                            <%= image_tag @offert.product_image, alt: "", style:"height:100px", class:"img-rounded m-5" %>
                            <h6><strong>Nombre: </strong><%= @offert.name %></h6>
                            <% if @offert.p_type == 1 %>
                                <h6><strong>Tipo: </strong>Producto</h6>
                            <% else %>
                                <h6><strong>Tipo: </strong>Servicio</h6>
                            <% end %>
                            <h6><strong>Descripción: </strong><%= @offert.description %></h6>
                            <h6><strong>Fecha de publicación: </strong><%= @offert.updated_at %></h6>
                            <%= link_to 'Cancelar', :back, class:"margin-5" %>
                        <% end %>
                    </div>

                </div>

                <div class="panel-footer container-fluid">
                    <%= form_for @barter do |b| %>
                        <%= b.text_area :description, class: 'form-control', rows: '5', placeholder: 'Añade un comentario aquí' %>
                        <!--h6><strong>Lugar del trueque: </strong></h6-->

                        <%#= b.text_area :address, class: 'form-control', placeholder: 'Universidad Nacional' %>
                        <%= b.hidden_field :product_one_id, :value => @product.id %>
                        <%= b.hidden_field :product_two_id, :value => @offert.id %>
                        <%= b.hidden_field :id_one_user, :value => @owner_user.id %>
                        <%= b.hidden_field :id_two_user, :value => @offer_user.id %>
                        <%= b.hidden_field :state, :value => 1 %>
                        <%= b.hidden_field :meeting_date, :value => Date.tomorrow %>
                        <%= b.hidden_field :meeting_time, :value => Time.now %>
                        <%= b.submit 'Ofertar', class: 'btn btn-default btn-right' %>
                    <% end %>
                    <%= link_to 'Volver', product_path, class:"btn btn-default" %>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title myhnot">Mis Productos y Servicios</h4>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <% @myproducts.each do |product| %>
                            <div class="col-sm-4 row-eq-height">
                                <div class="my-thumbnail opacity">
                                    <%= link_to offer_product_path(@product, :offert => product) do %>
                                    <div class="superCenter" style="height:150px">
                                      <%= image_tag product.product_image, alt: "", style:"max-height:150px", class:"img-rounded" %>
                                    </div>
                                    <div class="caption container-fluid">
                                        <h4><%= product.name %></h4>
                                        <h6><%= product.description %></h6>
                                    </div>
                                    <% end %>
                                </div>
                            </div>
                        <% end %>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $(':radio').click(function() {
      $('#' + $(this).attr('class')).fadeIn().siblings('div').hide();
  }).filter(':checked').click();
});

</script>
