<div class="container margin-top">
<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="col-sm-8">
    <h2 class="myh1"><strong><%= @product.name %></strong></h2>
    <center>
    <%= image_tag("product02.jpg", alt: "Cuadernos", style:"object-fit: contain", class:"img-rounded center") %>
    </center>
    <!--%= image_tag @product.product_image.url(:medium), class: "img-fullproduct mt30"%-->
  </div>
  <div class="col-sm-4 panel panel-default devise-bs">
    <h2><strong><%= @product.name %></strong></h2>
    <h4 class="t-information"><strong>Type: </strong><%= @product.p_type %></h4>
    <h4 class="t-information"><strong>Description: </strong><%= @product.description %></h4>
    
    <div class="container margin-top">
      <%= link_to 'Ofertar', offer_path(@product), class:"btn" %>
      <%= link_to 'Back', :back, class:"btn btn-right" %>
    </div>
  </div>
</div>
