<div class="container mt">
  <p id="notice"><%= notice %></p>
  <h2 class="myh" style=""><%= @product.name %></h2>
  <div class="row">
    <div class="col-sm-6 superCenter" style="">
      <%= image_tag @product.product_image, alt: "", style:"", class:"img-rounded img-responsive" %>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">

        <div class="panel-heading">
          <h2 class="myhnot">Caracteristicas</h2>
        </div>

        <div class="panel-body">
          <h4 class="mt-12"><strong>Tipo: </strong></h4>
          <% if @product.p_type == 1 %>
            <h4>Producto</h4>
          <% elsif @product.p_type == 2 %>
            <h4>Servicio</h4>
          <% else %>
            <h4>Otro</h4>
          <% end %>

          <h4 class="mt-12"><strong>Descripci贸n: </strong></h4>
          <h4><%= @product.description %></h4>

          <h4 class="mt-12"><strong>Vendedor: </strong></h4>
          <h4><%= @user_name %></h4>
          <h4>Calificaci贸n: <%= @user.score %></h4>

          <% if @product.p_type == 1 %>
            <h4><strong>Estado: </strong></h4>
            <% if @product.state == true %>
              <h4>Nuevo</h4>
            <% else %>
              <h4>Usado</h4>
            <% end %>
          <% elsif @product.p_type == 2 %>
            <h4><strong>Duraci贸n: </strong></h4>
            <h4><%= @product.duration.strftime('%H:%M') %></h4>
          <% else %>
            <h4>Otro</h4>
          <% end %>

          <h4 class="mt-12"><strong>Fecha de publicaci贸n: </strong></h4>
          <h4><%= @product.updated_at %></h4>
        </div>

        <div class="panel-footer">
          <%= link_to 'Atras', :back, class:"btn btn-default" %>
          <%= link_to 'Ofertar', offer_product_path(@product), class:"btn btn-default   btn-right" %>
        </div>

      </div>
    </div>
  </div>
