<div class="container margin-top">
<div class="row">
  <p id="notice"><%= notice %></p>
  <div class="col-sm-8">
    <h2 class="myh1"><strong><%= @product.name %></strong></h2>
    <center>
    <%= image_tag @product.product_image.url(:medium), alt: "Cuadernos", style:"width:50%; height:auto", class:"img-rounded center" %>
    </center>
  </div>
  <div class="col-sm-4 panel panel-default devise-bs">
    <h4 class="t-information"><strong>Tipo: </strong></h4>
    <% if @product.p_type == 1 %>
      <p>Producto</p>
    <% else %>
      <p>Servicio</p>
    <% end %>
    <h4 class="t-information"><strong>Descripción: </strong></h4>
    <p><%= @product.description %></p>

     <h4 class="t-information"><strong>Vendedor: </strong></h4>
    <p><%= @user_name %></p>


    <div class="container margin-top">
      <%= link_to 'Ofertar', offer_path(@product), class:"btn" %>
      <%= link_to 'Back', :back, class:"btn btn-right" %>
    </div>
  </div>
</div>
